{% extends "inicio/encabezado.html" %}

{% block titulo %} Principal {% endblock %}

{% block imagen %}
    {% load static %}
    {% static 'inicio/images/home.png' %}
{% endblock %}

{% block texto %} Principal {% endblock %}

{% block span %} DSM {% endblock %}

{% block contenido %}

<!--Encabezdo -->
<div class="page-header">
	<div class="page-title">
		<h3>Alumnos
			<small>Lista de alumnos</small>
		</h3>
	</div>
</div>
<!-- /Encabezado-->

<!-- Navegación -->
{% block nav %}
<div class="breadcrumb-line">
	<ul class="breadcrumb">
		<a href="{%url 'Principal'%}">
			{%if request.path == ' / ' %}
				Principal
			{%else%}
				Principal {{request.path}}
			{% endif %}
		</a>
	</ul>
</div>
{% endblock %}
<!-- /Navegación -->
		
{% endblock %}