{% extends "inicio/encabezado.html" %}

{% block titulo %} Comentarios {% endblock %}

{% block imagen %} 
    {% load static %}
    {% static 'inicio/images/comentarios.png' %}
{% endblock %}

{% block contenido %}

<!-- Encabezado -->
{% block encabezado %}
<div class="page-header">
    <div class="page-title">
        <h3>ELIMINAR COMENTARIO</h3>
    </div>
</div>
{% endblock %}
<!-- /Encabezado -->

<!-- Navegación -->
{% block nav %}
<div class="breadcrumb-line">
	<ul class="breadcrumb">
		<a href="{%url 'Principal'%}">
			{%if request.path == ' / ' %}
			Principal
			{%else%}
			Principal {{request.path}}
			{% endif %}
		</a>
	</ul>
</div>
{% endblock %}
<!-- /Navegación -->

<form method="POST">
{% csrf_token %}

<!-- ALERTA -->
<div class="callout callout-danger fade in">
    <h5>Eliminando Comentario</h5>
    <p>¿Estás seguro que deseas <strong>Eliminar</strong> el comentario seleccionado?</p>
</div>
<!-- /ALERTA -->

<button type="submit" class="btn btn-danger">Si</button>
<a href="{% url 'Comentarios' %}" class="btn btn-primary">Cancelar</a>
</form>
{% endblock %}